/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-coauthor-generate-suggestion {
	padding: 0;
}

.wp-block-coauthor-generate-suggestion .content {}

.wp-block-coauthor-generate-suggestion .components-text-control__input {
	margin: 10px;
	width:80%;
}

.wp-block-coauthor-generate-suggestion .components-button.is-primary {
	margin: 10px;
}

.wp-block-coauthor-image-image {
	cursor: pointer;
	width: 128px;
	height:128px;
	margin: 12px;
}
.wp-block-coauthor-image-image:hover {
	width: 146px;
	height:146px;
	margin: 0px;
}